@page
@model WebApplication3.Pages.Admin.Course.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Courses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Courses.id" />
            <div class="form-group">
                    <label asp-for="Courses.title" class="control-label"></label>
                    <input asp-for="Courses.title" class="form-control" />
                    <span asp-validation-for="Courses.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses.desceiption" class="control-label"></label>
                <input asp-for="Courses.desceiption" class="form-control" />
                <span asp-validation-for="Courses.desceiption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses.price" class="control-label"></label>
                <input asp-for="Courses.price" class="form-control" />
                <span asp-validation-for="Courses.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses.discount" class="control-label"></label>
                <input asp-for="Courses.discount" class="form-control" />
                <span asp-validation-for="Courses.discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses.TeacherId" class="control-label"></label>
                <input asp-for="Courses.TeacherId" class="form-control" />
                <span asp-validation-for="Courses.TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
