
<nav class="admin-menu">
    <a asp-page="/Admin/Dashboard">Панель администратора</a>
    <a asp-page="/Admin/Users/Index">Управление пользователями</a>
    <a asp-page="/Admin/Group/GroupListModel">Управление группами</a>
    <a asp-page="/Admin/Category/Index">Категории</a>
    <a asp-page="/Admin/Course/Index">курсы</a>
    <a asp-page="/Account/Logout">Выход</a>
</nav>