
<nav class="teacher-menu">
    <a asp-page="/Teacher/TeacherCourses">Мои курсы</a>
    <a asp-page="/Teacher/Grades">Журнал оценок</a>
    <a asp-page="/Teacher/Materials">Учебные материалы</a>
    <a asp-page="/Account/Logout">Выход</a>
</nav>